.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-second-bg);
  box-shadow: 0 2px 4px var(--color-shadow);
  border-bottom: thin solid var(--color-border);
}